<table name="hosts">
<if column="localip" exp="x1=='[var:mgmtip]'">
! FOR DIAGNOSTICS: I am currently working with: <var:mgmtip/>\n
\n
router ospf <OSPFProcessID/>\n
<table name="ospftab">
<if column="hosts:localip,localip" exp="x1==x2">
 network <OSPFPrefix/> <WildcardMask/> area <Area/>\n
<if column="VirtualLinkArea" exp='x1 != ""'>
 area <VirtualLinkArea/> virtual-link <VlTargetRID/>\n
</if>
</if>
</table>
</if>
</table>